<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
	<meta charset="utf-8" />
	<title>Select Machine</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="Portal to view device details" name="description" />
	<meta content="Vinay Lanka" name="author" />

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />
	<link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<!-- <link href="../assets/plugins/bootstrap/bootstrap-4.1.1/css/bootstrap.min.css" rel="stylesheet" /> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="../assets/plugins/font-awesome/5.1/css/all.css" rel="stylesheet" />
	<link href="../assets/css/animate.min.css" rel="stylesheet" />
	<link href="../assets/css/style.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
	<link href="../assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css" rel="stylesheet" />
	<link href="../assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
	<link href="../assets/plugins/morris/morris.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/js/ProgressBar.js"></script>
	<script src="../assets/plugins/pace/pace.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<!-- ================== END BASE JS ================== -->

	<!--[if lt IE 9]>
	    <script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
</head>

<body ng-app="dashboardApp">
	<!-- begin #page-loader -->
	<div id="page-loader" class="page-loader fade in"><span class="spinner">Loading...</span></div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container"
		class="fade page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer"
		ng-controller="userdetails">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top">
			<!-- begin container-fluid -->
			<div class="container-fluid">
				<!-- begin mobile sidebar expand / collapse button -->
				<div class="navbar-header">
					<a href="/dashboard" class="navbar-brand"><img src="../assets/img/logo.png" class="logo"
							alt="" />Tnet Analytics</a>
					<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<!-- end mobile sidebar expand / collapse button -->

				<!-- begin navbar-right -->
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown navbar-user">
						<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
							<span class="hidden-xs">{{userdetails.Name}}</span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu pull-right">
							<li><a href="/user/edituserdetails">Edit Profile</a></li>
							<li class="divider"></li>
							<li><a href="/logout">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<!-- end navbar-right -->
			</div>
			<!-- end container-fluid -->
		</div>
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="nav-user">
						<div class="info">
							<div class="name dropdown">
								<a href="javascript:;" data-toggle="dropdown">{{userdetails.Name}}<b
										class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="/user/edituserdetails">Edit Profile</a></li>
									<li class="divider"></li>
									<li><a href="/logout">Log Out</a></li>
								</ul>
							</div>
							<div class="position">{{userdetails.Designation}}</div>
						</div>
					</li>
					<li class="nav-header">Navigation</li>
					<li>
						<a href="/dashboard">
							<i class="fa fa-home"></i>
							<span>Dashboard</span>
						</a>
					</li>
					<li class="active">
						<a href="/selectmachine">
							<i class="fa fa-industry"></i>
							<span>Machines</span>
						</a>
					</li>
					<li class="divider has-minify-btn"></li>
					<li class="has-sub">
						<a href="javascript:;">
							<b class="caret pull-right"></b>
							<i class="fa fa-chart-area"></i>
							<span>Analytics</span>
						</a>
						<ul class="sub-menu">
							<li><a href="histdata.html">Historical Data<i class="fa fa-th text-theme m-l-3"></i></a>
							</li>
							<li><a href="trendhistdata.html">Trend/Histogram<i
										class="fa fa-chart-bar text-theme m-l-3"></i></a></li>
							<li><a href="corrdata.html">Correlation<i class="fa fa-table  text-theme m-l-3"></i></a>
							</li>
							<li><a href="alarmdata.html">Alarm<i
										class="fa fa-exclamation-triangle text-theme m-l-3"></i></a></li>
						</ul>
					</li>
					<li>
						<a href="#modal-dialog" data-toggle="modal">
							<i class="fa fa-question-circle"></i>
							<span>About</span>
						</a>
					</li>
					<li class="divider has-minify-btn">
						<!-- begin sidebar minify button -->
						<a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i
								class="fa fa-angle-left"></i></a>
						<!-- end sidebar minify button -->
					</li>
					<div ng-show="adminVar">
						<ul class="nav">
							<br>
							<li class="nav-header">User Management</li>
							<li>
								<a href="/user/adduser">
									<i class="fas fa-plus"></i>
									<span>Add/Remove Users</span>
								</a>
							</li>
							<li class="divider"></li>
							<li class="nav-header">Location Management</li>
							<li>
								<a href="/addstuff">
									<i class="fas fa-plus"></i>
									<span>Add/Remove Things</span>
								</a>
							</li>
						</ul>
					</div>
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>
		<div class="sidebar-bg"></div>
		<!-- end #sidebar -->

		<div class="modal fade" id="modal-dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title">About Tnet</h4>
					</div>
					<div class="modal-body">
						<h4>Tnet Analytics</h4>
						<img src="../assets/img/logosmall.png" class="logo" alt="" />
						<h3></h3>
						<p> Version 01.00.00 </p>
						<h3></h3>
						&copy;<b>TOSHIBA MACHINE (CHENNAI) PVT. LTD.</b>
						<p>All Rights Reserved</p>
					</div>
					<div class="modal-footer">
						<a href="javascript:;" class="btn width-100 btn-default" data-dismiss="modal">Close</a>
					</div>
				</div>
			</div>
		</div>



		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<div ng-controller="selection">
				<div ng-show="factoriesvar">
					<ol class="breadcrumb pull-right">
						<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
						<li class="breadcrumb-item active">Select Factory</li>
					</ol>
					<h1 class="page-header">Select a Factory <small>(To view shopfloors)</small></h1>
					<div class="row">
						<div class="col-sm-6 col-lg-3" ng-repeat="factory in factories">
							<div class="login-content1" style="width: 18rem;">
								<div class="card-body">
									<div class="dropdown pull-right" ng-show="adminVar">
										<i class="fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false"></i>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Delete Factory</a>
										</div>
									</div>
									<h5 class="card-title">{{factory.facname}}</h5>
									<h6 class="card-subtitle mb-2 text-muted">{{factory.facloc}}</h6>
									<p class="card-text">Click to view shopfloors in {{factory.facname}}</p>
									<button type="button" id="{{factory.fid}}" ng-click="getshopfloors(factory.fid)"
										class="btn btn-success">{{factory.facname}}</button>
								</div>
							</div>
							<br>
						</div>
					</div>
					<div class="row">
						<br><br>
						<h1 class="page-header">Add a factory here - <button type="button"
								onclick="window.location.href='/addstuff'" class="btn btn-primary">Add Factory</button>
						</h1><br>
					</div>
				</div>

				<div ng-show="shopfloorsvar">
					<ol class="breadcrumb pull-right">
						<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
						<li class="breadcrumb-item active">Factories</li>
						<li class="breadcrumb-item active">Select Shopfloor</li>
					</ol>
					<h1 class="page-header">Select a Shopfloor <small>(To view machines)</small></h1>
					<div class="row">
						<div class="col-sm-6 col-lg-3" ng-repeat="shopfloor in shopfloors">
							<div class="login-content1" style="width: 18rem;">
								<div class="card-body">
									<div class="dropdown pull-right" ng-show="adminVar">
										<i class="fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false"></i>
										<div class="dropdown-menu">
											<a class="dropdown-item" href="#">Delete Shopfloor</a>
										</div>
									</div>
									<h5 class="card-title">{{shopfloor.sname}}</h5>
									<p class="card-text">Click to view Machines in {{shopfloor.sname}}</p>
									<button type="button" id="{{shopfloor.sid}}" ng-click="getmachines(shopfloor.sid)"
										class="btn btn-success">{{shopfloor.sname}}</button>
								</div>
							</div>
							<br><br>
						</div>
					</div>
					<div class="row">
						<h1 class="page-header">Add a Shopfloor here - <button type="button"
								onclick="window.location.href='/addstuff'" class="btn btn-primary">Add
								Shopfloor</button>
						</h1>
					</div>
				</div>

				<div ng-show="machinesvar">
					<ol class="breadcrumb pull-right">
						<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
						<li class="breadcrumb-item active">Factories</li>
						<li class="breadcrumb-item active">Shopfloors</li>
						<li class="breadcrumb-item active">Select Machine</li>
					</ol>
					<h1 class="page-header">Select a Machine <small>(To view Details)&nbsp;<br>(Also select default
							machine)</small></h1>
					<div class="row">
						<div class="col-sm-6 col-lg-3" ng-repeat="machine in machines">

							<div class="login-content1 bordercolor-abnormalstop" style="width: 18rem;">
								<div class="card-body">
									<div class="dropdown pull-right" ng-show="adminVar">
										<i class="fas fa-ellipsis-v" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false"></i>
										<div class="dropdown-menu">
											<a class="dropdown-item" ng-click="makedefault(machine.mid)">Make default
												machine</a>
											<br>
											<a class="dropdown-item" href="#">Delete Machine</a>
										</div>
									</div>
									<h5 class="card-title">{{machine.macid}}</h5>
									<p class="card-text">
										Overview of {{machine.macid}}
									</p>
								</div>
								<ul class="list-group list-group-flush">
									<li class="list-group-item">Product Code - {{machine.mid}}</li>
									<li class="list-group-item">Total Shots - 350</li>
									<li class="list-group-item">Cycle Time - 11.2s</li>
								</ul>
								<div class="card-body">
									<span><i class="fas fa-info-circle pull-right" ng-show="{{machine.defaultmac}}"></i></span>
									<span><button type="button" id="{{machine.mid}}"
											ng-click="getmacdetails(machine.mid)"
											class="btn btn-success">{{machine.macid}}</button></span>
								</div>
							</div>
							<br><br>
						</div>
					</div>
					<div class="row">
						<h1 class="page-header">Add a Machine here - <button type="button"
								onclick="window.location.href='/addstuff'" class="btn btn-primary">Add
								Machine</button>
						</h1>
					</div>
				</div>
			</div>

			<!-- begin #footer -->
			<div id="footer" class="footer">
				<span class="pull-right">
					<a href="javascript:;" class="btn-scroll-to-top" data-click="scroll-top">
						<i class="fa fa-arrow-up"></i> <span class="hidden-xs">Back to Top</span>
					</a>
				</span>
				&copy; 2018 <b>Tnet Analytics</b> All Right Reserved
			</div>
			<!-- end #footer -->
		</div>
		<!-- end #content -->
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/jquery/jquery-3.3.1.min.js"></script>
	<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="../assets/plugins/bootstrap/bootstrap-4.1.1/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
	<![endif]-->
	<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/plugins/jquery-cookie/jquery.cookie.js"></script>
	<script src="../assets/plugins/js/tpage-globals.js"></script>
	<!-- ================== END BASE JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js"></script>
	<script src="../assets/plugins/chart-js/Chart.js"></script>
	<script src="../assets/plugins/chart-js/chartjs-plugin-zoom.js"></script>
	<script src="../assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="../assets/plugins/morris/raphael.min.js"></script>
	<script src="../assets/plugins/morris/morris.js"></script>
	<script src="../assets/plugins/canvasjs/canvasjs.min.js"></script>
	<script src="../assets/plugins/canvasjs/canvasjs.react.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.min.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.time.min.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.resize.min.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.stack.min.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.crosshair.min.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.categories.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.navigate.js"></script>
	<script src="../assets/plugins/sparkline/jquery.sparkline.min.js"></script>
	<script src="../assets/plugins/flot/CurvedLines/curvedLines.js"></script>
	<script src="../assets/plugins/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="../assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js"></script>
	<script src="../assets/js/tpage-dashboard.js"></script>
	<script src="../assets/js/demo.js"></script>
	<script src="../assets/js/apps.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->



	<script>
		$(document).ready(function () {
			App.init();
			Demo.init();
			// PageDemo.init();
		});
		// var bar = new ProgressBar.Circle(container1, {
		// 	strokeWidth: 6,
		// 	easing: 'easeInOut',
		// 	duration: 1400,
		// 	color: '#FFEA82',
		// 	trailColor: '#eee',
		// 	trailWidth: 1,
		// 	svgStyle: null
		// });

		// bar.animate(1.01);  // Number from 0.0 to 1.0
		var app = angular.module('dashboardApp', []);
		app.controller('userdetails', function ($scope, $http) {
			$http.get("/user/userdetails").then(function (response) {
				console.log("Fetching user details");
				$scope.userdetails = response.data;
				console.log($scope.userdetails);
				if (response.data.admin == 1) {
					$scope.adminVar = true;
				} else {
					$scope.adminVar = false;
				}
			});
		});
		app.controller('selection', function ($scope, $http) {
			$scope.factoriesvar = true;
			$scope.shopfloorsvar = false;
			$scope.machinesvar = false;
			$http.get("/factories/listfactories").then(function (response) {
				console.log(response.data);
				$scope.factories = response.data;
			});
			$scope.getshopfloors = function (fid) {
				console.log(fid);
				$scope.selectedfactory = fid;
				$scope.factoriesvar = false;
				$scope.shopfloorsvar = true;
				$scope.machinesvar = false;
				$http.get("/shopfloors/listshopfloors", {
					params: { factoryid: $scope.selectedfactory }
				}).then(function (response) {
					console.log(response.data);
					$scope.shopfloors = response.data;
				});
			};
			$scope.getmachines = function (sid) {
				console.log(sid);
				$scope.selectedshopfloor = sid;
				$scope.factoriesvar = false;
				$scope.shopfloorsvar = false;
				$scope.machinesvar = true;
				$http.get("/machines/listmachines", {
					params: { shopfloorid: $scope.selectedshopfloor }
				}).then(function (response) {
					console.log(response.data);
					$scope.machines = response.data;
				});
			};
			$scope.getmacdetails = function (mid) {
				console.log(mid);
				$scope.selectedmachine = mid;
				$http.get("/machines/showmachine", {
					params: { machineid: $scope.selectedmachine }
				}).then(function (response) {
					console.log(response);
					if (response.data.message == 'fetched') {
						window.location = "/dashboard";
					} else {
						alert(response.message);
					}
				});
			};
			$scope.makedefault = function (mid) {
				// $scope.machinesvar=false;
				$http.get("/machines/makedefault", {
					params: { machineid: mid }
				}).then(function (response) {
					// $scope.machinesvar=true;
					$http.get("/machines/listmachines", {
						params: { shopfloorid: $scope.selectedshopfloor }
					}).then(function (response) {
						console.log(response.data);
						$scope.machines = response.data;
					});
					console.log(response);
					alert(response.data.message);
				});
				// $scope.$apply();
			};
		});
		// app.controller('factories', function($scope, $http) {
		// 	$http.get("/factories/listfactories").then(function (response) {
		// 		console.log(response.data);
		// 		$scope.factories = response.data;
		// 	});
		// });
		// app.controller('shopfloors', function($scope, $http) {

		// });
	</script>
</body>

</html>